h2 {
	text-align: center;
	padding-top: 15px;
}

td {
	padding: 5px 15px;
	max-width: 150px;
}

th {
	padding: 5px 15px;
	text-align: left;
}

thead {
	position: sticky;
	top: 0;
	background: white;
	/* background: #B3B3B3; */
	color: black;
}

table {
	border-collapse: collapse;
	margin-top: 25px;
}

.subtotal {
	font-weight: bold;
	font-size: 125%;
	text-align: right;
}

tr:nth-child(2n+1) > td:not(:last-child) {
	background-color: rgba(242,188,0,0.7);
}

img {
	display: block;
	margin: 0 auto;
	max-width: 90vw;
	max-height: 40vh;
}