#toolbarWrapper {
	background-color: rgb(255,255,255);
}

mat-toolbar {
	flex-wrap: wrap;
	margin: 0 auto;
	height: auto;
	justify-content: space-between;
	max-width: 1024px;
	background-color: rgb(255,255,255);
}

#logo {
	display: flex;
	font-size: 1.25rem;
	font-weight: bold;
	order: 1;
}

#logo a {
	height: fit-content;
}

.nav-spacer {
	flex: 1 0.5 auto;
}

.searchbox {
	margin-left: 10px;
	margin-right: 10px;
	order: 3;
}

.header_links {
	order: 2;
	display: flex;
	flex-wrap: wrap;
}

.header_links a {
	margin: 0 5px 0;
}

#cart {
	/* margin-top: 10px;
	margin-right: 10px; */
	padding: 10px;
	order: 4;
}

#cart button {
	height: 25px;
	width: 25px;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0);
	background-size: 25px;
	border: none;
}

@media only screen and (max-width: 930px) {
	mat-toolbar {
		flex-direction: column;
	}
	.header_links {
		justify-content: center;
		margin-bottom: 15px;
	}
	#cart button {
		height: 40px;
		width: 40px;
		background-size: 40px;
	}
	.searchbox form input {
		height: 26px;
		font-size: 18px;
		vertical-align: middle;
		max-width: 70vw;
	}
	.searchbox form button {
		height: 32px;
	}
	
}
