
#welcome1, #welcome2 {
	font-size: 1.25rem;
	text-align: left;
	padding: 1rem;
}

h1, h2 {
	font-weight: bold;
}

img {
	max-width: 90%;
	max-height: 250px;
}

#welcome2 {
	border-radius: 25px;
	background-color: rgb(242,188,0);
	max-width: 75vw;
	margin-bottom: 25px;
}

#welcome2 a {
	color: black;
}

@media only screen and (max-width: 950px) {

}